page {
  background: #fff;
  box-sizing: border-box;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 30px;
}


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  &-title {
    font-size: 34px;
    line-height: 44px;
    color: #333;
    margin-right: 30px;

    &::after {
      content: ':';
    }
  }
}

.input {
  background-color: #f6f6f6;
  border-radius: 12px;
  padding: 6px 16px;
  color: #666;
}

.date {
  font-size: 32px;
  line-height: 50px;
  margin-right: 20px;
}

.picker {
  font-size: 32px;
  line-height: 50px;
  color: #fff;
  background-color: #F6D7A7;
  border-radius: 20px;
  padding: 6px 20px;
}

.actions-add {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 46px;
  font-weight: bold;
  line-height: 50px;
  color: #F6D7A7;
  text-align: center;

  margin-right: 30px;
}

.actions-history {
  margin-left: 20px;
  font-size: 32px;
  line-height: 50px;
  color: #fff;
  background-color: #F6D7A7;
  border-radius: 20px;
  padding: 6px 20px;
}

.action {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px;
  background-color: #F6EABE40;
}

.input-short {
  width: 44px;
}

.margin-text {
  margin: 0 10px;
}

.action-opt {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &-item {
    width: 50px;
    height: 50px;
    color: #F6D7A7;
    text-align: center;

    &-del {
      color: rgb(255, 60, 0);
    }
  }
}

.row.submit-row {
  margin-top: 40px;
  justify-content: center;

  .submit {
    background-color: #F6D7A7;
    color: #fff;
    text-align: center;
    height: 80px;
    line-height: 80px;
    width: 200px;
    border-radius: 30px;
  }

  .delete {
    margin-left: 40px;
    background-color: #eee;
    color: #fff;
    text-align: center;
    height: 80px;
    line-height: 80px;
    width: 200px;
    border-radius: 30px;
  }
}


.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 99;

  &-close {
    flex: 1;
    background-color: #00000050;
  }

  &-content {
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
    height: 75vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    &-input {
      margin-bottom: 30px;
    }

    .history-List {
      flex: 1;
      overflow-y: auto;
    }
  }

}

.history-item {
  padding: 30px;
  font-size: 32px;
  line-height: 42px;
  color: #666;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid #dfdfdf;

  .item-action {
    &-name {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-type {
        background-color: #F6D7A7;
        padding: 2px 5px;
        border-radius: 5px;

        font-size: 26px;
        line-height: 30px;
        margin-left: 10px;
        color: #999;
      }
    }

    &-texts {
      display: flex;
      flex-direction: row;
      white-space: pre;
    }

  }

}
